.container {
  max-width: 800px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 600px;
    padding-left: 45px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 500px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
